.huge-it-share-buttons.nobackground {background:none !important;}
.huge-it-share-buttons.active {display:block;}

.huge-it-share-buttons h3 {
	display:inline-block;
	margin:0px !important;
	padding:0px 5px 5px 5px !important;
	line-height:auto !important;
}

.huge-it-share-buttons ul {
	position:relative;
	display:block;
	margin:0px;
	padding:0px !important;
}

.huge-it-share-buttons  ul li {
	display:inline-block;
	margin:3px;
	padding:0px;
}

.huge-it-share-buttons  ul li.nobackground {background:none !important;}

.huge-it-share-buttons  ul li.none {display:none;}

.huge-it-share-buttons  ul li a, .huge-it-share-buttons  ul li a:link, .huge-it-share-buttons  ul li a:visited,
.huge-it-share-buttons  ul li a:hover, .huge-it-share-buttons  ul li a:focus, .huge-it-share-buttons  ul li a:active{
	display:block;
	text-indent:-9999px;
}

.huge-it-share-buttons  ul li a.size40 {background-image:url(../images/buttons.40.png);}
.huge-it-share-buttons  ul li a.size30 {background-image:url(../images/buttons.30.png);}
.huge-it-share-buttons  ul li a.size20 {background-image:url(../images/buttons.20.png);}